.worldsynth-color-gradient-editor .gradient-bar {
	-fx-background-image: url("transparency-pattern.png"); 
	-fx-background-repeat: repeat;
	-fx-background-size: auto;
}

.worldsynth-color-gradient-editor .gradient-bar .stop-indicator {
	-fx-background-color: null;
	-fx-border-color: white;
	-fx-border-radius: 5px;
	-fx-translate-x: -5px;
	-fx-translate-y: -5px;
	-fx-pref-width: 10px;
	-fx-pref-height: 30px;
	-fx-effect: dropshadow(three-pass-box, black, 2, 0.0, 0, 1);
}