.worldsynth-color-picker .hue-indicator {
	-fx-background-color: null;
	-fx-border-color: white;
	-fx-border-radius: 5px;
	-fx-translate-x: -5px;
	-fx-translate-y: -5px;
	-fx-pref-width: 30px;
	-fx-pref-height: 10px;
	-fx-effect: dropshadow(three-pass-box, black, 2, 0.0, 0, 1);
}

.worldsynth-color-picker .color-indicator {
	-fx-background-color: null;
	-fx-border-color: white;
	-fx-border-radius: 5px;
	-fx-translate-x: -5px;
	-fx-translate-y: -5px;
	-fx-pref-width: 10px;
	-fx-pref-height: 10px;
	-fx-effect: dropshadow(three-pass-box, black, 2, 0.0, 0, 1);
}